<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Avaliação de SI</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Avaliação de Sistemas de Informação</h1>
    </header>
    <main>
        <h2>Avaliação de Aderência de Sistemas de Informação a Processos de Negócio</h2>
        <h3>Saída dos dados</h3>        
        
            <ul>
                <% for (var i=0; i < 3; i++) { %>
                    <li>
                        <%= questoes[i].dt_registro %>
                    </li>
                <% } %>
            </ul>
    
        <p>Sistema avaliado: <%= sistema %> </p>       
        
        <% if (sistema == analise[pos].sistema) { %>
            <p>Período pesquisado: início em <%= analise[pos].dt_inicio %> término em <%= analise[pos].dt_fim %></p>
            <p>Total de respostas recebidas= <%= analise[pos].qt_resp %></p>
            <p>Amostra significativa ? [S/N] <%= analise[pos].amostra_significativa %></p>
            <p>Grau de congruência [0 a 9] <%= analise[pos].grau_congruencia %></p>
            <p>Pontuação média final dos usuários:</p>
            <p>usuários internos= <%= analise[pos].nota_usuarios_internos %> <%= analise[pos].resultado_ui %></p>
            <p>usuários externos= <%= analise[pos].nota_usuarios_externos %> <%= analise[pos].resultado_ue %> (se aplicável)</p>
            <p>Pontuação média global= <%= analise[pos].nota_final %> <%= analise[pos].resultado %></p>
            <p>Sugestões recebidas: [?????] </p>
            <p>Itens de maior criticidade: [?????] </p>
        <% } else { %>
            <p> Não há respostas enviadas para o sistema informado</p>
        <% } %>        
    </main>
    <footer>
        <p>Christian Gomes Bezerra dos Santos / christian.gomes@ufpe.br</p>
    </footer>    
</body>
</html>