<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Avaliação de SI</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Avaliação de Sistemas de Informação</h1>
    </header>
    <main>
        <h2>Avaliação de Aderência de Sistemas de Informação a Processos de Negócio</h2>
        <h3>Saída dos dados</h3>
        
        <p>Sistema avaliado: <%= analise.sistema %> </p>       
                
        <p>Período pesquisado: início em <%= analise.dt_inicio %> término em <%= analise.dt_fim %></p>
        <p>Total de usuários respondentes : <%= analise.qt_resp %></p>
        <p>Amostra significativa ? [S/N] <%= analise.amostra_significativa %></p>
        <p>Grau de congruência [0 a 9] <%= analise.grau_congruencia %></p>
        <p>Pontuação média final dos usuários:</p>
        <p>usuários internos : <%= analise.nota_usuario_interno %> => <%= analise.resultado_ui %></p>
        <p>usuários externos (se aplicável) : <%= analise.nota_usuario_externo %> => <%= analise.resultado_ue %></p>
        <p> ATENÇÃO: <%= analise.advertencia %></p>
        <p>Pontuação média global : <%= analise.nota_final %> => <strong><%= analise.resultado %></strong></p>
        <p>Itens de maior criticidade:</p>
        <ul type="none">
            <% for (var i=0; i < criticidade.length; i++) { %>
                <li>
                    <%= criticidade[i].nome %> = <%= criticidade[i].valor %>
                </li>
            <% } %>
        </ul>
        <p>Sugestões recebidas: [?????] </p>        
    
    </main>
    <footer>
        <p>Christian Gomes Bezerra dos Santos / christian.gomes@ufpe.br</p>
    </footer>    
</body>
</html>